test_phoneswitch_web/test_pbx_web2/Service References/publicapiproxy/PhoneSwitchPublicAPIService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54780/wcf/PhoneSwitchPublicAPIService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/pbx_shared.misc" />
  <xs:import schemaLocation="http://localhost:54780/wcf/PhoneSwitchPublicAPIService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/pbx_shared" />
  <xs:element name="endcall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="callid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="endcallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="newcall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/pbx_shared.misc" minOccurs="0" name="calldetails" nillable="true" type="q1:newcallinfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="newcallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/pbx_shared" minOccurs="0" name="newcallResult" nillable="true" type="q2:phonecall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connect_extension">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="callid" type="xs:int" />
        <xs:element minOccurs="0" name="extension_nbr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connect_extensionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>