test_phoneswitch_web/test_pbx_web2/Service References/publicapiproxy/PhoneSwitchPublicAPIService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/pbx_shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/pbx_shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="phonecall">
    <xs:sequence>
      <xs:element minOccurs="0" name="callstate" type="tns:phonecall.callstates" />
      <xs:element minOccurs="0" name="connected_extensions" nillable="true" type="tns:ArrayOfextension" />
      <xs:element minOccurs="0" name="dialednbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direction" type="tns:phonecall.calldirection" />
      <xs:element minOccurs="0" name="endtime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="initiallyansweredat" type="xs:dateTime" />
      <xs:element minOccurs="0" name="localnbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mytestclass1" nillable="true" type="tns:testclass1" />
      <xs:element minOccurs="0" name="phonesystemcallid" type="xs:int" />
      <xs:element minOccurs="0" name="remotenbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="starttime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="switchid" type="xs:int" />
      <xs:element minOccurs="0" name="switchspecificcallid" type="xs:int" />
      <xs:element minOccurs="0" name="totalholdms" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="phonecall" nillable="true" type="tns:phonecall" />
  <xs:simpleType name="phonecall.callstates">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ringing" />
      <xs:enumeration value="hold" />
      <xs:enumeration value="active" />
      <xs:enumeration value="ended" />
      <xs:enumeration value="unknown" />
      <xs:enumeration value="ringing_again" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="phonecall.callstates" nillable="true" type="tns:phonecall.callstates" />
  <xs:complexType name="ArrayOfextension">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="extension" nillable="true" type="tns:extension" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfextension" nillable="true" type="tns:ArrayOfextension" />
  <xs:complexType name="extension">
    <xs:sequence>
      <xs:element minOccurs="0" name="e911location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extension_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extension_nbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extension_type" type="tns:extension.extension_types" />
      <xs:element minOccurs="0" name="outbound_callerid_phonenbr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="extension" nillable="true" type="tns:extension" />
  <xs:simpleType name="extension.extension_types">
    <xs:restriction base="xs:string">
      <xs:enumeration value="digital" />
      <xs:enumeration value="ip" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="extension.extension_types" nillable="true" type="tns:extension.extension_types" />
  <xs:simpleType name="phonecall.calldirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="inbound" />
      <xs:enumeration value="outbound" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="phonecall.calldirection" nillable="true" type="tns:phonecall.calldirection" />
  <xs:complexType name="testclass1">
    <xs:sequence>
      <xs:element minOccurs="0" name="e911location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extension_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extension_nbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extension_type" type="tns:testclass1.extension_types" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outbound_callerid_phonenbr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="testclass1" nillable="true" type="tns:testclass1" />
  <xs:simpleType name="testclass1.extension_types">
    <xs:restriction base="xs:string">
      <xs:enumeration value="digital" />
      <xs:enumeration value="ip" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="testclass1.extension_types" nillable="true" type="tns:testclass1.extension_types" />
</xs:schema>