test_phoneswitch_web/Service References/publicapiproxy/PhoneSwitchPublicAPIService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/pbxlib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/pbxlib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="newcallinfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="dialednumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="localnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remotenumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="newcallinfo" nillable="true" type="tns:newcallinfo" />
</xs:schema>