test_phoneswitch_web/Service References/publicapiproxy/PhoneSwitchPublicAPIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhoneSwitchPublicAPIService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54780/wcf/PhoneSwitchPublicAPIService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54780/wcf/PhoneSwitchPublicAPIService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/pbx_web.wcf" />
      <xsd:import schemaLocation="http://localhost:54780/wcf/PhoneSwitchPublicAPIService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54780/wcf/PhoneSwitchPublicAPIService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/pbxlib" />
      <xsd:import schemaLocation="http://localhost:54780/wcf/PhoneSwitchPublicAPIService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/pbx_shared" />
      <xsd:import schemaLocation="http://localhost:54780/wcf/PhoneSwitchPublicAPIService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhoneSwitchPublicAPIService_endcall_InputMessage">
    <wsdl:part name="parameters" element="tns:endcall" />
  </wsdl:message>
  <wsdl:message name="IPhoneSwitchPublicAPIService_endcall_OutputMessage">
    <wsdl:part name="parameters" element="tns:endcallResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneSwitchPublicAPIService_endcall_FaultBaseFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/pbx_web.wcf" name="detail" element="q1:FaultBase" />
  </wsdl:message>
  <wsdl:message name="IPhoneSwitchPublicAPIService_newcall_InputMessage">
    <wsdl:part name="parameters" element="tns:newcall" />
  </wsdl:message>
  <wsdl:message name="IPhoneSwitchPublicAPIService_newcall_OutputMessage">
    <wsdl:part name="parameters" element="tns:newcallResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneSwitchPublicAPIService_newcall_FaultBaseFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/pbx_web.wcf" name="detail" element="q2:FaultBase" />
  </wsdl:message>
  <wsdl:message name="IPhoneSwitchPublicAPIService_connect_extension_InputMessage">
    <wsdl:part name="parameters" element="tns:connect_extension" />
  </wsdl:message>
  <wsdl:message name="IPhoneSwitchPublicAPIService_connect_extension_OutputMessage">
    <wsdl:part name="parameters" element="tns:connect_extensionResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneSwitchPublicAPIService_connect_extension_FaultBaseFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/pbx_web.wcf" name="detail" element="q3:FaultBase" />
  </wsdl:message>
  <wsdl:portType name="IPhoneSwitchPublicAPIService">
    <wsdl:operation name="endcall">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneSwitchPublicAPIService/endcall" message="tns:IPhoneSwitchPublicAPIService_endcall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneSwitchPublicAPIService/endcallResponse" message="tns:IPhoneSwitchPublicAPIService_endcall_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPhoneSwitchPublicAPIService/endcallFaultBaseFault" name="FaultBaseFault" message="tns:IPhoneSwitchPublicAPIService_endcall_FaultBaseFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="newcall">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneSwitchPublicAPIService/newcall" message="tns:IPhoneSwitchPublicAPIService_newcall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneSwitchPublicAPIService/newcallResponse" message="tns:IPhoneSwitchPublicAPIService_newcall_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPhoneSwitchPublicAPIService/newcallFaultBaseFault" name="FaultBaseFault" message="tns:IPhoneSwitchPublicAPIService_newcall_FaultBaseFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="connect_extension">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneSwitchPublicAPIService/connect_extension" message="tns:IPhoneSwitchPublicAPIService_connect_extension_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneSwitchPublicAPIService/connect_extensionResponse" message="tns:IPhoneSwitchPublicAPIService_connect_extension_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPhoneSwitchPublicAPIService/connect_extensionFaultBaseFault" name="FaultBaseFault" message="tns:IPhoneSwitchPublicAPIService_connect_extension_FaultBaseFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhoneSwitchPublicAPIService" type="tns:IPhoneSwitchPublicAPIService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="endcall">
      <soap:operation soapAction="http://tempuri.org/IPhoneSwitchPublicAPIService/endcall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultBaseFault">
        <soap:fault use="literal" name="FaultBaseFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="newcall">
      <soap:operation soapAction="http://tempuri.org/IPhoneSwitchPublicAPIService/newcall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultBaseFault">
        <soap:fault use="literal" name="FaultBaseFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="connect_extension">
      <soap:operation soapAction="http://tempuri.org/IPhoneSwitchPublicAPIService/connect_extension" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultBaseFault">
        <soap:fault use="literal" name="FaultBaseFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhoneSwitchPublicAPIService">
    <wsdl:port name="BasicHttpBinding_IPhoneSwitchPublicAPIService" binding="tns:BasicHttpBinding_IPhoneSwitchPublicAPIService">
      <soap:address location="http://localhost:54780/wcf/PhoneSwitchPublicAPIService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>